<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C! IDE</title>
    <link rel="preload" href="../css/normalize.css" as="style">
    <link rel="preload" href="../css/styles.css" as="style">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/styles.css">

</head>

<body>
    <div class="contenedor">
        <div class="grid grid--2-cols--75-25">

            <div id="running-btns">
                <button id="stop-btn" class="btn stop-btn">Stop</button>
                <button id="next-btn" class="btn next-btn">Next</button>
            </div>

            <button id="run-btn" class="btn run-btn">Run</button>

            <p class="ram-live-view--titulo">RAM Live View</p>

            <div class="editor-area">
                <textarea id="editor-text-area" spellcheck="false" class="editor"></textarea>
            </div>

            <div class="ram-live-view--lista"></div>

            <div class="output">
                <div class="output--opciones">
                    <p id="std-out--opcion">STD_OUT</p>
                    <p id="log--opcion">LOG</p>
                </div>
                <div id="std-out--mensajes">
                </div>
                <div id="log--mensajes">
                </div>
            </div>
        </div>
    </div>

    <script src="../js/modernizr.js"></script>
    <script src="../js/scripts.js"></script>
</body>

</html>