html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.contenedor {
    margin: auto auto;
}

.grid {
    display: grid;
    height: minmax(0, 100%);
    width: minmax(0, 100%);
}

.grid--2-cols--75-25 {
    grid-template-columns: 65% 35%;
}

.btn {
    background-color: green;
    color: white;
    border: none;
}

.run-btn {
    background-color: green;
    border-right: oldlace solid 0.1px;
}

.run-btn:focus {
    outline: none;
}

#running-btns {
    display: none;
}

.stop-btn {
    background-color: red;
    flex: 0 0 50%;
    border-right: oldlace solid 0.1px;
}

.next-btn {
    background-color: green;
    flex: 0 0 50%;
    border-right: oldlace solid 0.1px;
}

.ram-live-view--titulo {
    height: 5vh;
    width: 100%;
    line-height: 5vh;
    text-align: center;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.editor-area {
    height: 65vh;
}

.editor {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    resize: none;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border: oldlace solid 0.1px;
}

.editor:focus {
    outline: none;
}

#ram-live-view--lista {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    list-style: none;
    height: 65vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-top: oldlace solid 0.1px;
    border-bottom: oldlace solid 0.1px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ram-live-view--header,
.ram-live-view--elemento {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: oldlace solid 0.1px;
}

.ram-live-view--header p,
.ram-live-view--elemento p {
    text-align: center;
    flex: 0 0 25%;
    box-sizing: border-box;
}

.output {
    background-color: rgba(0, 0, 0, 0.8);
    grid-column: 1 / 3;
    height: 30vh;
    display: grid;
    grid-template-rows: 10% 90%;
    border-left: oldlace solid 0.1px;
}

.output--opciones {
    display: grid;
    grid-template-columns: repeat(2, 10%);
    border-bottom: oldlace solid 0.1px;
    position: relative;
}

#std-out--opcion,
#log--opcion {
    position: absolute;
    top: 0;
    width: 20%;
    height: 100%;
    font-size: 1.5rem;
    color: white;
    border-right: oldlace solid 0.1px;
    margin: 0;
    text-align: center;
}

#std-out--opcion {
    left: 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.4);
}

#log--opcion {
    left: 20vw;
}

#std-out--mensajes,
#log--mensajes {
    font-size: 1.3rem;
    overflow-y: scroll;
    overflow-wrap: break-word;
}

#log--mensajes {
    display: none;
}